
    
#footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  padding: 0 1.875em;
	padding: 0 1.875em;
	margin: 0 auto;
	background-color: #00529b;
	height: 3.563em;
	position:relative;
	border-left:1px solid #6d6d6d;
	border-right:1px solid #6d6d6d;
	z-index: 5;
	color:white;
  
    }
    #footer-container2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
     
      padding: 0 1.875em;
      padding: 0 1.875em;
      margin: 0 auto;
      background-color: #00529b;
      position:relative;
      border-left:1px solid #6d6d6d;
      border-right:1px solid #6d6d6d;
      z-index: 5;
      color:white;
      
        }

        .about-text span {
          font-style: italic;
        }
        .icon-list {
          list-style-type: none; /* Remove default bullet points */
          padding-left: 0; /* Remove default padding */
        }
        
        .icon-list li {
          padding-left: 30px; /* Space for the custom icon */
          background-size: 20px 20px; /* Size of the custom icon */
          margin-bottom: 10px; /* Space between list items */
        }
        .home-icon {
          background: url('../images/home.png') no-repeat left center;
        }
        .phone-icon {
          background: url('../images/phone.png') no-repeat left center;
        }
        .email-icon {
          background: url('../images/email.png') no-repeat left center;
        }
        .footer h5 {
          text-align: left !important;
          padding-left: 0 !important;
          padding-right: 0 !important;
        }

        .hours {
          margin-right: auto; /* Push the column to the right */
          padding-right: auto;
        }
        .about-text p {
          text-align: left;
        }
    .carousel-item {
        text-align: center; /* Center images */
      }
  
      .carousel-item img {
        max-width: 100%; /* Ensure images don't exceed the container's width */
        height: auto; /* Maintain aspect ratio */
      }
  
      .carousel-image {
        width: 300px; /* Set desired width */
        height: 200px; /* Set desired height */
        object-fit: cover; /* Ensures images cover the area without stretching */
      }
#myCarousel img {
    padding: 25px;
    max-width: 800px
    
}

.social img{
  height: 30px;
  width: auto;
  border-radius: 40%;
  
  }

#myCarousel {
    background-color: #00529b;
    margin-bottom: 15px;
}
footer img {
  height: 130px;
  width: auto;
  border-radius: 40%;
}
.copyright {
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}