/* header */
header {
  font-weight: 500;
  font-size: 1.35em;
  padding: 0 1.875em;
  color: #00529b;
}
@media all and (max-width: 350px)
{
.min-center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.min-center li {
  text-align: center;
  margin-left: 10px;
}
}



/* main */
#photos {
  background-color: #00529b;

}
.carousel {
  position: relative;

}
.carousel-item img {
  object-fit: cover;
}
#carousel-thumbs {
 
  bottom: 0;
  left: 0;
  padding: 0 50px;
  right: 0;
}
#carousel-thumbs img {
  opacity: 0.5;
  cursor: pointer;
}
#photos ul.row {
list-style-type: none;
}
#carousel-thumbs .selected img{
   opacity: 1;
}
#carousel-thumbs button {
  border: 0;
  padding: 0;
 

}
#carousel-thumbs img:hover {
opacity: 1;  

}
.carousel-control-prev,
.carousel-control-next {
  width: 60px;
}

@media all and (max-width: 767px) {
  .carousel-container #carousel-thumbs img {
    border-width: 3px;
  }
}
@media all and (min-width: 576px) {
  .carousel-container #carousel-thumbs {
    position: absolute;
   
  }
}
@media all and (max-width: 576px) {
  .carousel-container #carousel-thumbs {
    background: #ccccce;
  }
}



#about {
  background-color: #00529b;
  margin: 0;
  padding: 0;
}

#viewMenu h1{
  color: #1a6eb7;
  font-weight: 700;
}

hr {
  border: 1px solid #00529b; /* Remove default border */
  margin: 5%; /* Optional: add vertical margins */
}
/* footer */

#footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 1.875em;
  padding: 0 1.875em;
  margin: 0 auto;
  background-color: #00529b;
  position: relative;
  border-left: 1px solid #6d6d6d;
  border-right: 1px solid #6d6d6d;
  z-index: 5;
  color: white;
}

#footer h5 {
  text-align: left !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.about-text span {
  font-style: italic;
}
.icon-list {
  list-style-type: none; /* Remove default bullet points */
  padding-left: 0; /* Remove default padding */
}

.icon-list li {
  padding-left: 30px; /* Space for the custom icon */
  background-size: 20px 20px; /* Size of the custom icon */
  text-align: left;
  margin-bottom: 10px; /* Space between list items */
}
.social img {
  height: 30px;
  width: auto;
  border-radius: 40%;
}
.home-icon {
  background: url("../images/home.png") no-repeat left center;
}
.phone-icon {
  background: url("../images/phone.png") no-repeat left center;
}
.email-icon {
  background: url("../images/email.png") no-repeat left center;
}
.social {
  display: flex;
}
.about-text p {
  text-align: left;
}
footer img {
  height: 130px;
  width: auto;
  border-radius: 40%;
}
.copyright {
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

